In [7]:
import os
import pandas as pd
import numpy as np
from pygus.gus.utilities import filter_dataframe_to_bounding_box
df = pd.read_csv(os.path.join("adam_bbox.csv"))
df.head()

,Unnamed: 0,id,species,height,dbh,lat,lng,condition
0,0,30469,acer pseudoplatanus,9,5.08,52.329086,4.894478,fair
1,1,28796,fagus sylvatica,6,2.54,52.334703,4.852537,good
2,2,32778,pinus nigra,18,12.70,52.329103,4.893633,excellent
3,3,21947,tilia cordata,24,17.78,52.325920,4.892907,fair
4,4,22883,fraxinus excelsior,24,17.78,52.326184,4.892449,good

In [8]:
# replace id column with ascending integers
df["id"] = np.arange(0,1000)
df.to_csv("amsterdam_all_trees_1000_species.csv", index=False)